# build output
kof96.gb
kof96.gbc
kof96.map
kof96.o
kof96.sym
kof96.sn*

# not necessary
tempconv.txt
tempconv.bin
tempconv.asm
tempconv.sym
shell.cmd
shell.lnk
temp.asm
kof96.asm
docs/.template.asm
docs/regexlog.txt